<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <ul>
      <li><a href="/sign-in">Sign In</a></li>
      <li><a href="/sign-up">Sign up</a></li>
    </ul>
  </body>
</html>
