<html>
  <head>
    <title><%= title%></title>
  </head>
  <body>
    <h1>To-Do List</h1>
    <ul>
      <li><a href="/sign-up">Sign up</a></li>
      <li><a href="/sign-in">Sign In</a></li>
    </ul>
  </body>
</html>
