<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <div id="container">
      <form action="/create-user" method="POST">
        <input type="email" name="email" placeholder="Your Email" required />
        <input type="text" name="name" placeholder="Your Name" required />
        <input
          type="password"
          name="password"
          placeholder="Your Password"
          required
        />
        <input
          type="password"
          name="confirm_password"
          placeholder="Confirm Password"
          required
        />
        <input type="submit" name="submit" value="Sign Up" class="submit" />
      </form>
    </div>
  </body>
</html>
